<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
    <head>
        <title>Notes App</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="http://localhost:8080/style.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <div class="title_main"><h2>Выберите тип заметки</h2></div>
            <div class="footer_main" th:if="${types!=null and !types.empty}">
                <div class="buttons" th:each="type : ${types}">
                    <div class="new_note" th:style="'background:' + @{${type.getColor()}}">
                        <p class="typename" th:text="${type.getTypename()}"></p>
                        <p class="typeid" th:text="${type.getId()}"></p>
                    </div>
                </div>
            </div>
        </div>
        <script src="http://localhost:8080/MainModule.js" type="module"></script>
    </body>
</html>
